:root {
  --main-bg: rgb(39, 41, 51);
  --lighter-bg: rgb(94, 97, 112);
  --light-bg: rgb(90, 94, 118);
  --text-bg: rgb(29, 28, 28);
}

body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: "Gotu", sans-serif;
  background: var(--main-bg);
}

.accordion-925 {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.navbar {
  background: var(--main-bg) !important;
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 10;
  padding-top: 0;
}

.navbar-toggler {
  background: #ffffffb3;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar ul {
  margin: 0 auto;
}
.navbar a {
  font-size: 1rem !important;
}

nav a:active {
  background: var(--main-bg) !important;
}

.hero {
  display: flex;
  flex-flow: wrap;
  height: 80vh;
  background: fixed no-repeat center/cover url("/images/relaxing-view.jpg");
  z-index: 2px;
}

.schedule-alert {
  width: 100%;
  height: 100px;
  color: #ffffff;
  background-color: var(--lighter-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  border-radius: 0;
  margin-top: 100px;
}
.schedule-alert i {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.schedule-alert p {
  display: flex;
  align-items: center;
}

.placeholder {
  height: 4rem;
}
.services-hero {
  height: 30vh;
  background: center/cover no-repeat url("/images/stones.jpg");
}

.hero-reviews {
  height: 35vh;
  background: center/cover no-repeat url("/images/reviews_header.jpg");
}

.hero-recommendations {
  height: 35vh;
  background: center/cover no-repeat url("/images/paint.jpg");
}

.giftcert-hero {
  height: 50vh;
  background: center/cover no-repeat url("/images/giftcert1.jpg");
}

.christmas-card {
  max-width: 30rem;
}

.our-team {
  margin-top: 4rem;
  max-height: 85vh;
}

.our-team-card {
  background: var(--light-bg);
}

.card-body {
  background: var(--text-bg);
  line-height: 1.75;
  font-size: 1.1rem !important;
}
.quote {
  max-width: 25rem;
}
.rockwall-h1 {
  background: var(--main-bg);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.logo {
  height: 10rem;
}

.title {
  background: linear-gradient(var(--lighter-bg), var(--light-bg), #e6f1fa);
}

.description {
  max-width: 60rem;
  background: var(--text-bg);
  line-height: 2.5rem;
}
.description h4 {
  line-height: 3rem;
}

.notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50rem;
  min-height: 30rem;
  background: linear-gradient(rgb(0, 0, 0, 0), var(--text-bg));
}

.certificate {
  margin: 1rem auto;
  text-align: center;
  max-width: 40rem;
  border-radius: 25px;
  padding: 2rem;
  line-height: 1.5;
}

.certificate-link {
  text-decoration: none;
  padding: 30px;
  transition: all 0.5s ease-in-out;
}
.certificate-link:hover img {
  transform: scale(1.05);
}
.certificate-link img {
  width: 300px;
  height: 350px;
}
.certificate-link p {
  font-size: 1.2rem;
  text-decoration: none;
  color: #e6f1fa;
}
.certificate-link span {
  text-decoration: underline;
}
.fall {
  max-width: 35rem;
}
section {
  max-width: 50rem;
}

.favorite {
  min-height: 17rem;
}

.accordion {
  margin-bottom: 2rem;
}

.accordion-body,
.accordion .open {
  background: var(--main-bg) !important;
}

.accordion-button {
  background: linear-gradient(
    to right,
    var(--main-bg),
    var(--main-bg),
    var(--main-bg),
    var(--main-bg),
    var(--main-bg),
    rgba(255, 255, 255, 0.8)
  );
}

.dark-link {
  color: var(--main-bg);
}

.carousel {
  max-width: 30rem;
}
footer {
  background: white;
}

footer i {
  color: var(--main-bg);
  padding: 4px;
  border: 2px solid white;
}

footer i:hover {
  border: 2px solid var(--main-bg);
  border-radius: 10px;
}

.dropdown-menu,
.dropdown-toggle {
  max-width: 20rem;
}

.background {
  background: rgba(0, 0, 0, 0.6);
  padding: 0.2rem;
}

.music {
  max-width: 20rem;
}

.recs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recs a {
  text-decoration: none;
  color: var(--main-bg);
}

.rec-link {
  text-decoration: underline;
}

.recs-card {
  background: linear-gradient(rgba(0, 0, 0, 0), var(--text-bg));
  border-radius: 1rem;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 30rem;
  display: flex;
}

.mailing-list {
  background: rgb(29, 28, 28);
}

@media screen and (max-width: 1294px) {
  .schedule-alert {
    margin-top: 150px;
  }
}
@media screen and (max-width: 991px) {
  .schedule-alert {
    margin-top: 160px;
  }
}

@media screen and (max-width: 700px) {
  nav .fs-5 {
    font-size: 1rem !important;
  }
  .notice {
    min-height: 16rem;
  }

  .certificate {
    padding: 1rem;
    font-size: 1rem;
  }

  .certificate-link img {
    width: 100px;
  }

  .notice img {
    width: 150px;
  }

  .description img {
    margin-bottom: 1rem;
  }

  .recs-card img {
    max-width: 150px;
    margin: 0 !important;
    margin-bottom: 1rem !important;
    font-size: 1rem;
  }

  .fall {
    max-width: 14rem;
  }
}
@media screen and (max-width: 693px) {
  .schedule-alert {
    margin-top: 185px;
  }
}

@media screen and (min-width: 450px) {
  .home-profile {
    width: 20rem;
  }
}
