:root {
  --main-bg: #011a24;
  --lighter-bg: #007a7a;
  /* --lighter-bg: rgb(94, 97, 112); */
  --light-bg: #80edf9;
  /* --light-bg: rgb(90, 94, 118); */
  --text-bg: rgb(29, 28, 28);
  --pop-color: #fb9242;
  --dark-pop-color: #bf5b02;
  --light-color: #ffffff;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: "Gotu", sans-serif;
  color: var(--light-color)!important;
  background: var(--main-bg);
}

h1 {
  color: var(--pop-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--pop-color);
}

.accent-color {
  color: var(--pop-color);
}

.accent-font {
  font-weight: 800;
  color: var(--light-bg);
}

.main-cta {
  transition: all 0.3s ease-in-out;
}
.main-cta:hover {
  color: var(--pop-color);
  background-color: #000000;
  transform: scale(1.1);
}

.new-setup {
  width: 100%;
  /* height: 500px; */
}

.new-setup div {
  width: 50%;
  /* min-width: 400px; */
  padding: 10px;
}
.new-setup img {
  width: 50%;
  height: 600px;
  border-radius: 5px;
}

.accordion-925 {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background: #000000!important;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.navbar {
  background: #000000!important;
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 10;
  padding-top: 0;
}

.navbar-toggler {
  background: #ffffffb3;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar ul {
  margin: 0 auto;
}
.navbar a {
  font-size: 1rem !important;
}

nav a:active {
  background: var(--main-bg) !important;
}

.hero {
  display: flex;
  flex-flow: wrap;
  background-color: var(--main-bg);
  width: 100%;
  min-height: 80vh;
  position: relative;
}

.hero-jumbo {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(1 40 56);
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}
.hero-jumbo .hero-title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* padding: 1rem; */
  z-index: 20;
  /* background-color: var(--main-bg); */
}
.hero-jumbo .hero-title h1 {
  color: #fd8c02;
}
.hero-jumbo .hero-title p {
  font-size: 1.4rem;
  color: var(--light-color);
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000000c7!important;
  top: 0;
  left: 0;
  z-index: 0;
}

.hero-jumbo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.schedule-alert {
  width: 100%;
  height: auto;
  color: var(--main-bg);
  background-color: var(--light-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  border-radius: 0;
  margin-top: 100px;
}
.schedule-alert i {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.schedule-alert p {
  display: flex;
  align-items: center;
}

.placeholder {
  height: 4rem;
}
.services-hero {
  height: 60vh;
  background: center/cover no-repeat url("/images/stones.jpg");
}

.hero-reviews {
  height: 60vh;
  background: center/cover no-repeat url("/images/reviews_header.jpg");
}

.hero-recommendations {
  height: 60vh;
  background: center/cover no-repeat url("/images/paint.jpg");
}

.giftcert-hero {
  height: 60vh;
  background-image: url("/images/summer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-ourteam {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
.hero-ourteam img{
  height: 60vh;
  object-fit: cover;
}

.christmas-card {
  max-width: 30rem;
}

.our-team {
  width: 100%;
}

.our-team-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  margin: 2rem 0;
}
.our-team-card img {
  width: 50%;
  height: 800px;
  object-fit: cover;
  object-position: top center;
}

.team-card {
  width: 50%;
  font-size: 1rem;
  padding: 1rem;
  line-height: 2;
}

/* .card-body {
  background: var(--text-bg);
  line-height: 1.75;
  font-size: 1.1rem !important;
} */
.quote {
  max-width: 25rem;
}
.rockwall-h1 {
  background: var(--main-bg);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.logo {
  width: 130px;
  height: 130px;
}

/* .title {
  background: linear-gradient(var(--lighter-bg), var(--light-bg), #e6f1fa);
} */

.description {
  padding: 5rem 0;
  color: var(-light-color);
  line-height: 2.5rem;
}

.description h4 {
  line-height: 3rem;
}

.notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50rem;
  min-height: 30rem;
  background: linear-gradient(rgb(0, 0, 0, 0), var(--text-bg));
}

.certificate {
  margin: 1rem auto;
  text-align: center;
  max-width: 40rem;
  border-radius: 25px;
  padding: 2rem;
  line-height: 1.5;
}

.certificate-link {
  text-decoration: none;
  padding: 30px;
  transition: all 0.5s ease-in-out;
}
.certificate-link:hover img {
  transform: scale(1.05);
}
.certificate-link img {
  width: 100%;
  height: 100%;
}
.certificate-link p {
  font-size: 1.2rem;
  text-decoration: none;
  color: #e6f1fa;
}
.certificate-link span {
  text-decoration: underline;
}
.fall {
  max-width: 35rem;
}
section {
  max-width: 50rem;
}

.favorite {
  min-height: 17rem;
}

.accordion {
  margin-bottom: 2rem;
}

.accordion-body,
.accordion .open {
  background: var(--main-bg) !important;
}

.accordion-button {
  background: linear-gradient(
    to right,
    var(--main-bg),
    var(--main-bg),
    var(--main-bg),
    var(--main-bg),
    var(--main-bg),
    rgba(255, 255, 255, 0.8)
  );
}

.dark-link {
  color: var(--main-bg);
}

.carousel {
  max-width: 30rem;
}
footer {
  background: white;
}

footer i {
  color: var(--main-bg);
  padding: 4px;
  border: 2px solid white;
}

footer i:hover {
  border: 2px solid var(--main-bg);
  border-radius: 10px;
}

.dropdown-menu,
.dropdown-toggle {
  max-width: 20rem;
}

.background {
  background: rgba(0, 0, 0, 0.6);
  padding: 0.2rem;
}

.music {
  max-width: 20rem;
}

.recs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recs a {
  text-decoration: none;
  color: var(--main-bg);
}

.rec-link {
  text-decoration: underline;
}

.recs-card {
  background: linear-gradient(rgba(0, 0, 0, 0), var(--text-bg));
  border-radius: 1rem;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 30rem;
  display: flex;
}

.mailing-list {
  background: rgb(29, 28, 28);
}

@media screen and (max-width: 1294px) {
  /* .schedule-alert {
    margin-top: 150px;
  } */
}
@media screen and (max-width: 991px) {
  /* .schedule-alert {
    margin-top: 160px;
  } */
  .new-setup div {
    width: 100%;
    /* min-width: 400px; */
    padding: 10px;
  }
  .new-setup img {
    width: 100%;
    height: 600px;
    border-radius: 5px;
  }

  .hero {
    height: auto;
  }

  .hero-jumbo {
    height: auto;
    position: relative;
  }
  .hero-jumbo .hero-title {
    width: 100%;
    height: auto;
    padding: 1rem;
  }
  .hero-jumbo .hero-title h1 {
    font-size: 1.8rem;
  }
  .hero-jumbo .hero-title p {
    font-size: 1rem;
  }
  .hero-jumbo img {
    width: 100%;
    height: 100%;
  }

  .our-team-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--main-bg);
    margin: 2rem 0;
  }
  .our-team-card img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top center;
  }

  .team-card {
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    line-height: 2;
  }
}

@media screen and (max-width: 700px) {
  
  nav .fs-5 {
    font-size: 1rem !important;
  }
  .notice {
    min-height: 16rem;
  }

  .hero-jumbo .hero-title {
    width: 100%;
    height: auto;
    /* padding: 0.8rem; */
  }
  .hero-jumbo .hero-title h1 {
    font-size: 1.5rem;
  }
  .hero-jumbo .hero-title p {
    font-size: 1rem;
  }

  .certificate {
    /* padding: 1rem; */
    font-size: 1rem;
  }

  .certificate-link img {
    width: 500px;
  }

  .notice img {
    width: 150px;
  }

  .description img {
    margin-bottom: 1rem;
  }

  .recs-card img {
    max-width: 150px;
    margin: 0 !important;
    margin-bottom: 1rem !important;
    font-size: 1rem;
  }

  .fall {
    max-width: 14rem;
  }
}
@media screen and (max-width: 693px) {
  /* .schedule-alert {
    margin-top: 185px;
  } */
}

@media screen and (min-width: 450px) {
  .home-profile {
    width: 20rem;
  }
}
